<!DOCTYPE html>
<html lang="en">
<head>
    <title>Видеокоференция ПАО Судостроительный Завод "Северная Верфь"</title>
    <style>
    	html body{
    		margin: 0;
    		padding: 0;
    	}
    	h1{
    		font-family: arial;
    	}
    	.btn{
    		display: inline-block;
    		background-color: #06447f;
    		color:white;
    		text-decoration: none;
    		width: 500px;
    		height: 50px;
    		font-size: 20px;
    		font-family: arial;
    		border-radius: 20px;
    		border:none;
    		margin: 20px;
    		line-height: 50px;
    	}
    	.header{
    		width: 100%;
    		background: linear-gradient(to right, #0d5ca0 50%, #719cc5 50%);
    		height: 140px;
    	}
    	.logo{
    		background:url(http://www.nordsy.spb.ru/bitrix/templates/nordsy-main/images/new_logo_h50.png) top left;
    		width: 302px;
    		height: 50px;
    		margin-top: 50px;
    	}
    	.center{
    		position: absolute;
    		width: 960px;
    		height: 140px;
    		left:50%;
    		margin-left: -480px;
    		background:url(http://www.nordsy.spb.ru/bitrix/templates/nordsy-main/images/header-bg2.png) top left;
    	}

    </style>
</head>
<body style="background-color:rgba(0, 0, 0, 0.15); text-align: center;">
	<div class="header">
		<div class="center">
			<div class="logo"></div>
		</div>
	</div>
	<h1>Видеокоференция <br>ПАО Судостроительный Завод "Северная Верфь"</h1>
<a href="{{dir}}" class="btn">Дирекция</a><br>
<a href="{{sovpr}}" class="btn">Совещание по производству</a><br>
<a href="{{sroch}}" class="btn">Срочное</a>
</body>
</html>